<div class="grid-x">

  <div class="cell small-3" id="sidebar">
    <h3>Player</h3>
    <ol>
      <li>One</li>
      <li>Two</li>
      <li>three</li>
    </ol>
  </div>

  <div class="cell small-9" id="main">
    <h1>Songs</h1>
  </div>

  <div class="cell" id="player">
    <div class="grid-x">
      <div class="cell small-2 info">
        <h1>Player</h1>
      </div>
      <div class="cell small-8 controls">
        <i class="fas fa-backward"></i>
        <i class="fas fa-play"></i>
        <i class="fas fa-forward"></i>
      </div>
      <div class="cell small-2 vol">
        <input type="range" min="1" max="100" value="50" id="vol">
      </div>
    </div>
  </div>

</div>
